:root{
    --cor-texto-principal: #ffffff;
    --cor-texto-secundario: #c0c0c0;
    --botao-principal: #FF0000;
    --botao-secundario: #000000;
}
     
{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--botao-secundario);
    color: var(--cor-texto-principal);
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;
}

.principal{
    background-image: url(./img/GLOBO.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: end;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}
.container--botao{
    background-color: var(--botao-principal);
    color: var(--cor-texto-principal);
    padding: 2em;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    margin: 2%;
}

.botao--secundario{
   background-color: transparent; 
   border: 2px solid var (var(--botao-secundario));
   color; var (--botao-secundario );
   margin: 2%;
}
.caixa--container{
margin: 0 6em;
}